@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    margin: 0%;
}
.has-background-color{
    background-color: #cfd6f9;
   
}
.is-color{
    background-color: #E6E1F9 ;
}


.has-text-comforta{
    font-family: 'Comfortaa';
}

.has-text-Nunito{
    font-family: 'Nunito';
    font-size: 20px;
    color: #790DE5;
    font-weight: 400px;
    display: block;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.has-underline-color{
    text-decoration-color: #790DE5 !important;
}

.has-text-Playfair_Display{
    font-family: 'Playfair+Display';
    color: #333333;
    font-weight: 700px;
    font-size: 4rem;
    line-height: 120%;
}
.mt-my-10{
    margin-top:10rem !important;
}
.hero-moblie-img{
    position: absolute;
    top: 38px;
    width: 20rem;
    float: right;
    left: 5rem;
}

.hero-info{
   font-family: 'Nunito';
   font-weight: 100;
   font-size: 23px;
   line-height: 36px;
   color: #828282;


}

.is-projects{
   background-color: #790DE6;
   border-radius: 8px;
   font-family: 'Roboto';
   font-size: 18px;
}

.is-LinkedIn{
    border-color: #2E3135;
    font-family: 'Roboto';
    font-size: 18px;  
    border-radius: 8px; 
}

.is-box-about{
    background-color: #E6E1F9;
    border-radius: 24px;
}

.About-me{
    Font-family: 'Playfair+Display';
    font-weight: 700;
    height: 60px;
    height: 150%;
    Vertical-align: Top;
    color: #25282B;
}

.About-info{
    font-family: 'Nunito';
    font-Weight:400;
    font-Size: 1.2rem;
    Line-height:25px;
}

.is-download{
    background-color: #ABB1EE !important;
    color: #25282B !important;
    border-color: black !important;
    border-radius: 24px !important; 
    border-width: 1px !important;
    font-family: 'Roboto' !important; 
    font-size: 18px !important;
    }

.is-box-edu{
    border-radius: 24px;
    background-color: #E6E1F9;
}

.title-edu{
    Font-family: 'Playfair+Display';
    font-weight: 700;
    line-height: 60px;
    color: #25282B;

}

.is-edu{
    font-family:'Playfair+Display';
    font-weight: 700;
    font-Size:16px;
    Line-height:20px;

}

.title-projects{
    font-family:'Playfair+Display';
    font-weight: 700;
    font-Size:40px;
    Line-height:60px;
}

.is-box-projects{

    border-radius: 24px;
    background-color: #E6E1F9;
}

.project-info{
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    
    color: #828282;

}

.circle-about {
    background-color: #ABB1EE;
    overflow: hidden;
    border-radius: 100%;
    width: 27rem;
    height: 27rem;
  }

.circle-about img{
    width: 24rem;
}

.project-img{
    width:436px;
    Height:400px;
}

.is-box-skills{
    border-radius: 24px;
    background-color: #E6E1F9;
}

.img-figma{
    margin-top: 180px ;
    
}

.img-C{
    margin-top: 150PX;
}

.img-AI{
    margin-top: 120px;

}


.is-box-contact{
    background-color: transparent;
    box-shadow: none;
}

.control .input{
    background-color: #e6e1f9;
    border-radius: 8px;
}


.position-z-index-2{
    position: relative;
    z-index:2;
}

div.icons a{
    color: #2E3135;
}
div.icons a:hover{
    color: #ABB1EE;
}
















